<p>Games#score</p>
<p>Find me in app/views/games/score.html.erb</p>

<h1>Game Socre!</h1>
<p>Letters: <%= @letters %></p>
<p>Word: <%= @word %></p>
<p>Return: <%= @message %></p>
<%= link_to 'Play again', new_path %>
